{% extends "base.html" %}

{% block title %}Все преподаватели{% endblock %}

{% block content %}
<h1>Все преподаватели</h1>
<table>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Почта</th>
        <th>Номер телефона</th>
        <th>Дата начала</th>
    </tr>
    {% for instructor in instructors %}
    <tr>
        <td>{{ instructor.first_name }}</td>
        <td>{{ instructor.last_name }}</td>
        <td>{{ instructor.email }}</td>
        <td>{{ instructor.contact_number }}</td>
        <td>{{ instructor.start_date }}</td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'create_instructor' %}" class="button">Добавить нового преподавателя</a>
{% endblock %}
