
{% extends "base.html" %}

{% block title %}Все оценки{% endblock %}

{% block content %}
<h1>Все оценки</h1>
<table>
    <thead>
        <tr>
            <th>Студент</th>
            <th>Курс</th>
            <th>Оценка</th>
            <th>Дата</th>
            <th>Примечание</th>
        </tr>
    </thead>
    <tbody>
        {% for grade in grades %}
            <tr>
                <td>{{ grade.student.first_name }} {{ grade.student.last_name }}</td>
                <td>{{ grade.course.course_name }}</td>
                <td>{{ grade.grade }}</td>
                <td>{{ grade.date }}</td>
                <td>{{ grade.note }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'create_grade' %}" class="button">Добавить новую оценку</a>
{% endblock %}
