{% extends "base.html" %}

{% block title %}{{ course.course_name }}{% endblock %}

{% block content %}
<h1>{{ course.course_name }}</h1>
<p>{{ course.course_description }}</p>
<p>Дата начала: {{ course.start_date }}</p>
<p>Длительность: {{ course.duration_weeks }} недель</p>
<a href="{% url 'edit_course' course.pk %}" class="button">Редактировать</a>
<a href="{% url 'delete_course' course.pk %}" class="button">Удалить</a>
<a href="{% url 'students_for_course' course.id %}" class="button">Просмотр студентов</a>
{% endblock %}
