{% extends "base.html" %}

{% block title %}Данные студента: {{ student.first_name }} {{ student.last_name }}{% endblock %}

{% block content %}
<h1>Данные студента</h1>
<p><strong>Имя:</strong> {{ student.first_name }} {{ student.last_name }}</p>
<p><strong>Почта:</strong> {{ student.email }}</p>
<p><strong>Год поступления:</strong> {{ student.enrollment_year }}</p>
<a href="{% url 'edit_student' student.pk %}" class="button">Редактировать</a>
<a href="{% url 'delete_student' student.pk %}" class="button">Удалить</a>
<a href="{% url 'courses_for_students' student.id %}" class="button">Посмотреть курсы</a>
<a href="{% url 'all_students' %}" class="button">Назад ко всем студентам</a>
{% endblock %}
